# ใช้ LF สำหรับไฟล์โค้ด
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf

* text=auto

# สำหรับไฟล์ SQL ก็อาจบังคับ LF
*.sql text eol=lf

*.sh text eol=lf
* text=auto eol=lf

# ถ้าอยากให้ทุกไฟล์ใช้ LF
* text=auto eol=lf
